<%= link_to "Edit Billing Information", edit_billing_datum_path(@billing_data.id), class:"button" %>
<%= link_to "Confirm Order", checkout_path%>



<!-- --------------------------------------------- -->


<section class="profile-section">

  <h1>Your Billing Information</h1>

  <table class="table">
    <tr class="table-head">
      <th>Required</th>
      <th>Your Info</th>
    </tr>

    <tr>
      <td>Email Address</td>
      <td><%= @billing_data.email %></td>
    </tr>

    <tr>
      <td>Name on Card</td>
      <td><%= @billing_data.credit_card_name %></td>
    </tr>

    <tr>
      <td>Mailing Address</td>
      <td><%= @billing_data.mailing_address %></td>
    </tr>

    <tr>
      <td>Credit Card Number</td>
      <td><%= @billing_data.credit_card_number %></td>
    </tr>

    <tr>
      <td>CVV</td>
      <td><%= @billing_data.credit_card_cvv %></td>
    </tr>

    <tr>
      <td>Billing Zipcode</td>
      <td><%= @billing_data.billing_zip_code %></td>
    </tr>
  </table>
</section>
