  <section class="product-details">

    <ul>
      <lI><h3><%= @product.name.upcase %> </h3></lI>
      <li><strong>Description: </strong><%= @product.description %></li>
      <li><strong>Price:</strong> $<%= @product.price %></li>
      <li><strong>Sold By: </strong><%= link_to @product.user.username, user_path(@user.id) %></li>
    </ul>

    <ul>
      <li>
          <%= form_tag do %>
          <%= label_tag(:quantity, "Quantity") %>
          <%= text_field_tag(:quantity) %>
          <%= submit_tag("Add to Cart")%>
        <% end %>
      </li>
    </ul>

  </section>

  <section class="reviews">
    <h4>What People are Saying?</h4>
  <% if @current_user_is_not_product_owner %>
    <h5><%= link_to "Leave a Review!", new_new_review_path(@product) %></h5>
  <% end %>


  <table class="table">
    <thead class="table-head">
      <tr>
        <th>Rating</th>
        <th>Review Summary</th>
      </tr>
    </thead>
    <% @product.reviews.each do |review| %>
    <tbody>
      <tr>
        <td>Rating: <%= review.rating %> / 5</td>
        <td><%= review.text %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</section>
