<!-- <h1>Leave a Review</h1> -->


<!--
<section>
<%=form_for @review do |f| %>


  <%= f.label :rating %>
  <%=f.select :rating, (1..5) %>

  <%= f.label :text %>
  <%= f.text_area :text %>

  <%= f.submit class: "button" %>
  <% end %>


  <%= params %>
</section> -->

<%= render partial: "form", locals: {button_name: "New Review"} %>
